/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-accordion {
	// border: 1px dotted #f00;
}

.accordion-holder {
	margin-bottom: 2rem !important;

	.btn{
		margin: 1rem;
		padding: 0.5rem 1rem;
		background-color: var(--wp--preset--color--primary);
		color: #fff;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background-color: white;
			color: var(--wp--preset--color--primary);
		}
	}

	.block-list-appender {
		right: unset;
		left: 1rem;
		bottom: -1rem;
	}

	.accordion-remove-button{
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 99;
	}
}

.accordion-section{
	p {
		padding: 1rem;
		height: auto !important;
	}

	.accordion-holder {
		margin-inline: 1rem;
	}
}

.accordion-add-section {
	background-color: var(--wp--preset--color--primary);
	color: white;
	border-radius: 4px;
	padding: 10px 20px;
	
	&:hover {
		filter: brightness(0.7);
	}
	
	// Target the inner button if needed
	.block-editor-button-block-appender {
		color: white;
	}
}