/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-accordion {
	background-color: transparent;
	color: var(--wp--preset--color--text-color);
	border: 1px solid var(--wp--preset--color--primary);
	border-radius: 19px 19px 0 0;
	border-bottom: none;
	
}

