/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-important-contacts {
	width: 100%;
	margin: 0 !important;
	padding: 1rem !important;


	.contact-image-btn{
		cursor: pointer;

		img {
			max-height: 160px;
		}
	}

	.contact-item {
		input {
			font-size: inherit;
			font-weight: inherit;
			color: inherit;
			border: 2px solid rgba(0,0,0,0.1);
			border-radius: 4px;
			background: none;
			width: 100%;
		}
	}
}
