.school-directory--list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  list-style: none;
}

.school-directory--card-district{
  background: white;
  border-top: 6px solid var(--color-alternate);
  padding: 2rem;
}

.school-directory--card-district :where(a, span) {
  display: block;
}

.school-directory--card-district a {
  font-size: 1.2rem;
  text-decoration: underline;
}