/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-header-slider {
  background: var(--wp--preset--color--alt-one);
  color: white;

  .slide {
    background: var(--wp--preset--color--alt-one);
    display: grid;
    grid-template-columns: 1fr 600px;
    position: relative;
    margin: auto;
    width: 90%;

    .content-tab-container {
      position: relative;
      z-index: 2;
      display: grid;
      overflow: hidden;
      width: 100%;
      height: 100%;
      grid-template-rows: 1fr auto;
    }

    .slide-contents {
      width: 100%;
      position: relative;

      .slide-content {
        background: var(--wp--preset--color--alt-one);
        position: absolute;
        inset: 0;
        box-sizing: border-box;
        flex-basis: 100%;
        flex-grow: 0;
        padding: 1rem 0;
        height: 100%;
      }
    }

    .image-contents {
      width: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      border-right: 5px solid var(--wp--preset--color--primary);
      border-left: 5px solid var(--wp--preset--color--primary);

      @media (max-width: 900px) {
        height: auto;
        aspect-ratio: auto;
        border-right: none;
        border-left: none;
        border-top: 5px solid var(--wp--preset--color--primary);
        border-bottom: 5px solid var(--wp--preset--color--primary);
      }

      @media(max-width: 1200px) {
        height: 400px;
      }

      .image-content {
        align-content: center;
        background: #eee;
        position: absolute;
        inset: 0;
        display: block;
        z-index: 1;
      }
      
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr 400px;
    }

    @media (max-width: 900px) {
      grid-template-columns: 1fr;

      .image-contents {
        order: 1;
      }

      .content-tab-container{
        order: 2;
      }

      .slide-contents {
        height: 15rem;
      }

      .slide-content {
        background: var(--wp--preset--color--alt-one);
        height: 100%;
        color: white;
        padding-bottom: 5rem;
      }

      .tab-contents {
        // margin-top: 15rem;
      }

      .label-content{
        position: relative;
        z-index: 10;
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
        max-width: 100px;
      }
    }

  }

  h3 {
    color: white;
  }

  .tab-contents {
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .label-content{
    --main-color: var(--wp--preset--color--primary);
    background: white;
    border: 2px solid var(--main-color);
    border-bottom-width: 15px;
    color: var(--wp--preset--color--text-color);
    padding: 1rem 2rem;
    border-radius: 19px 19px 0 0;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    max-width: 200px;
    cursor: pointer;

    &:nth-child(2n) {
      --main-color: var(--wp--preset--color--alt-two);
    }

    &:nth-child(3n) {
      --main-color: var(--wp--preset--color--alt-three);
    }

    &:nth-child(4n) {
      --main-color: var(--wp--preset--color--alt-four);
    }

    &.active {
      padding-bottom: 2.5rem
    }
  }

  .hide{
    z-index: 2 !important;
  }

  .show {
    z-index: 5 !important;
    animation: fadeIn 0.5s ease-in-out;
  }

  
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

