/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-link-card {

  --card-color: var(--wp--preset--color--primary);
  --card-text-color: var(--wp--preset--color--text-color);
  --card-text-hover-color: #ffffff;
  display: inline-block;
  background: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem 1rem;
  border: 2px solid var(--card-color);
  border-radius: 19px 19px 0 0;
  border-bottom-width: 15px;
  font-size: 1.2rem;
  text-decoration: none;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;

  span {
    display: block;
    color: var(--card-text-color);
  }

  svg {
    stroke: var(--card-color);
  }

  p {
    font-weight: normal;
    color: var(--card-text-color);
  }

  &:hover {
    background: var(--card-color);
    svg {
      stroke: white;
    }
    span {
      color: var(--card-text-hover-color);
      text-decoration: none;
    }

    p {
      color: var(--card-text-hover-color);
    }
  }
  
}
