<!-- wp:template-part {"slug":"header","theme":"iowa-aea-theme"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:query-title {"type":"archive","align":"wide","fontSize":"x-large"} /-->

<!-- wp:iowa-aea-theme/event-calendar /-->

<!-- wp:spacer {"height":"clamp(30px, 5vw, 50px)","width":"0px","style":{"layout":[]}} -->
<div style="height:clamp(30px, 5vw, 50px);width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iowa-aea-theme"} /-->