<!-- wp:template-part {"slug":"indiv-aea-header","theme":"iowa-aea-theme-main","tagName":"header","area":"uncategorized"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"80%"}} -->
<main id="main" class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"margin":{"top":"2rem"}}}} -->
<div class="wp-block-columns" style="margin-top:2rem"><!-- wp:column {"width":"75%","style":{"border":{"right":{"color":"var:preset|color|primary","width":"1px"},"top":[],"bottom":[],"left":[]},"spacing":{"padding":{"right":"var:preset|spacing|50"}}}} -->
<div class="wp-block-column" style="border-right-color:var(--wp--preset--color--primary);border-right-width:1px;padding-right:var(--wp--preset--spacing--50);flex-basis:75%"><!-- wp:post-featured-image /-->

<!-- wp:post-title {"level":1} /-->

<!-- wp:iowa-aea-theme/bread-crumbs /-->

<!-- wp:post-content /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"1.5rem","right":"1.5rem","bottom":"1.5rem","left":"1.5rem"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:1.5rem;padding-right:1.5rem;padding-bottom:1.5rem;padding-left:1.5rem"><!-- wp:post-title {"level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|text-color"}}}},"textColor":"text-color","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:iowa-aea-theme/page-children /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:spacer {"className":"has-bottom-dots","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div style="margin-top:0;margin-bottom:0;height:100px" aria-hidden="true" class="wp-block-spacer has-bottom-dots"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer-indiv-aea","theme":"iowa-aea-theme-main","tagName":"footer","area":"uncategorized"} /-->