<!-- wp:template-part {"slug":"header","theme":"iowa-aea-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<div class="wp-block-group" style="padding-right:0;padding-left:0">
    <!-- wp:post-title {"textAlign":"left","level":1,"style":{"spacing":{"margin":{"top":"2rem","bottom":"2rem"}}}} /-->
    <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"100%"}} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"iowa-aea-theme","tagName":"footer"} /-->