/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-events-list {
	min-width: 341px;

  border: 1px solid var(--wp--preset--color--primary);
  border-radius: 19px 19px 0 0;
  height: 300px;
  padding-inline: 1rem;
  position: relative;
  padding-bottom: 1.5rem;

  ul {
    list-style: none;
    padding: 0;
  }

  .event-item {
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .event-date {
    min-width: 80px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
    * {
      display: block;
    }

    strong {
      font-size: 1.2rem;
    }
  }

  .event-details {
    margin-top: 4px;
    strong {
      display: block;
      color: var(--wp--preset--color--primary);
    }
  }

  .event-title {
    font-weight: bold;
  }

  .event-time {
    font-style: italic;
  }

  .btn-control {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid var(--wp--preset--color--primary);
    height: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    &:hover, &:focus, &:active {
      background: var(--wp--preset--color--primary);
      color: white;
    }
  }

  .load-previous {
    top: -1.25rem;
    &:disabled {
      visibility: hidden;
    };
  }

  .load-next {
    bottom: -1.25rem;
    &:disabled {
      visibility: hidden;
    };
  }
}

