/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-iowa-aea-theme-header-slider {
  background: var(--wp--preset--color--alt-one);
  color: white;
  min-height: 200px;

  @media (min-width: 900px){
    min-height: 400px;
  }

  @media (min-width: 1280px){
    min-height: 600px;
  }

  .controls{
    background: var(--wp--preset--color--primary);
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

    .previous{
      margin-right: auto;
    }

    .next{
      margin-left: auto;
    }

    button{
      background: white;
      border: 2px solid var(--wp--preset--color--primary);
      color: var(--wp--preset--color--primary);
      padding: 0.5rem 1rem;
      border-radius: 15px;
      cursor: pointer;

      &:hover, &:focus, &.active{
        background: var(--wp--preset--color--primary);
        color: white;
        border-color: white;
      }
    }
  }

  
}
